.a{
  width: 600px;
  height: 600px;
  position: absolute;
  left: 49%;
  top: 35%;
  transform: translate(-50% , -50%);
}
.a::after{
  content: '';
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
    width: 372px;
    height: 550px;
    position: fixed;
    top: 29%;
    left: 21%;
    z-index: -1;
}
img {
  border-radius: 10px;
    position: relative;
    width: 314px;
    left: 52%;
    top: 58%;
    transform: translate(-50% , -50%);
    background-color: hsl(0, 0%, 100%);
    margin-bottom: 15px;
}
h3{
  text-align: center;
    font-weight: 800;
    font-family: Outfit;
    position: absolute;
    left: 31%;
    top: 515px;
}
p{
text-align: center;
color: #9ea1a7;
font-weight: 400;
font-family: Outfit;
position: absolute;
top: 590px;
left: 30%;
}
body{
  background-color: hsl(212, 45%, 89%);
}
@media (max-width:992px) {
  .a{
    width: 600px;
    height: 600px;
    position: absolute;
    left: 49%;
    top: 35%;
    transform: translate(-50% , -50%);
  }
  .a::after{
    content: '';
      background-color: hsl(0, 0%, 100%);
      border-radius: 30px;
      width: 372px;
      height: 550px;
      position: fixed;
      top: 29%;
      left: 21%;
      z-index: -1;
  }
  img {
    border-radius: 10px;
      position: relative;
      width: 314px;
      left: 52%;
      top: 58%;
      transform: translate(-50% , -50%);
      background-color: hsl(0, 0%, 100%);
      margin-bottom: 15px;
  }
  h3{
    text-align: center;
      font-weight: 700;
      font-family: Outfit;
      position: absolute;
      left: 34%;
      top: 515px;
  }
  p{
    text-align: center;
  color: #9ea1a7;
  font-family: sans-serif;
  position: absolute;
  top: 590px;
  left: 30%;
  }
  body{
    background-color: #d5e1ef;
}
